.InputForm {
  padding: 20px 30px 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #093167;
  /* border: 5px solid white; */
  border-radius: 10px;
  margin-top: 120px;
}

.fileAndBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.textAreaForm {
  width: 100%;
 
}

.btnFormContainer {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.form-control {
  width: 100%;
}

.form-group {
  margin-bottom: 30px;
}


