body {
    display: flex;
    justify-content: center;
    background-color: #faf3f3;
    
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
  }
/* 
.static-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #faf3f3;
    z-index: -1000;
} */


.navBar {
    width: 100vw;
    height: 85px;
    background-color: #093167;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}
.navBar-right{
    display: flex;
    align-items: center;
    width: 350px;
   margin-right: 30px;
   justify-content: space-around;
}

.profil-button {
    width: 200px !important;
    background-color:crimson !important ;
    font-weight: bold;
}

.logo-small{
    height: 40px;
    margin-left: 35px;
}

.static-left, .static-right{
    width: 27%;
    height: 100vh;
    position: fixed;
    z-index: -60000;
    background-color: rgb(32, 32, 32);
    top: 0;
} 

.static-left {
    left: 0;
}
.static-right  {
    right: 0;
}

.navBar-center-text {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-left: 70px;
}


@media screen and ( max-width : 720px) {
    .navBar-right {
        display: flex;
        width: 100%;
       justify-content: center;
        align-items: center;      
        margin:  2vw 0 0 0;
        
    }
    .navBar-center-text {
        margin-left: 0;
    }
    .navBar {
        height: 130px;
        flex-wrap: wrap-reverse;
        width: 100%;
    }
    .navBar-center-text {
        font-size: 30px;
        font-weight: 300;
        margin-left: 0;
    }
    .profil-button {
        width: 200px !important;
        margin-left: 20px;
    }
    .logo-small{
        /* height: 30px; */
        margin-left: 5vw;
        height: 30px;
    }
    .static-left, .static-right{
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: -60000;
        background-color: inherit;
        display: none;
        top: 0;
    } 
    .static-left {
        left: 0;
    }
    .static-right  {
        right: 0;
    }

    .navBar-Center{
        width: 50%;
      
       
    }
}