body {
    display: flex;
    justify-content: center;
    background-color: #faf3f3;
}
/* 
.static-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #faf3f3;
    z-index: -1000;
} */


.navBar {
    width: 100vw;
    height: 60px;
    background-color: blue;
    position: fixed;
    top: 0;
    left: 0;
}