body {
    display: flex;
    justify-content: center;
    background-color: #faf3f3;
    
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
  }
/* 
.static-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #faf3f3;
    z-index: -1000;
} */


.navBar {
    width: 100vw;
    height: 85px;
    background-color: #093167;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}
.navBar-right{
    display: flex;
    align-items: center;
    width: 265px;
   margin-right: 30px;
   justify-content: space-around;
}

.profil-button {
    width: 120px !important;
}

.logo-small{
    height: 40px;
    margin-left: 35px;
}

.static-left, .static-right{
    width: 27%;
    height: 100vh;
    position: fixed;
    z-index: -60000;
    background-color: rgb(32, 32, 32);
    top: 0;
} 

.static-left {
    left: 0;
}
.static-right  {
    right: 0;
}